.container {
  margin: 50px auto 0;
}

.main {
  display: grid;
  justify-content: center;

  &__container {
    grid-row-gap: 50px;
    grid-column-gap: 48px;
  }

  &__goods {
    @include grid_aligning($horizontal: space-between);
    grid-template-columns: repeat(4, auto);
    flex-wrap: wrap;
    width: 100%;
  }
}
